* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map {
  height: 100vh;
}

.map-marker {
  margin-top: -2.5rem;
  padding: .2rem .5rem;
  border-radius: .2rem;
  background-color: rgb(223, 223, 223);
}